# DATABASE
MONGODB_URI=mongodb://ID:PASSWORD@IP:PORT/DATABASE?authSource=admin

MARIADB_URL=jdbc:mysql://localhost:3306/factory-tycoon
MARIADB_USERNAME=user
MARIADB_PASSWORD=password

# Redis Configuration
REDIS_HOST=IP_ADDRESS
REDIS_PORT=port
REDIS_PASSWORD=password

# JWT Configuration
JWT_SECRET_KEY=your-secret-key-change-this-in-production-min-256-bits
JWT_ACCESS_TTL_MS=3600000
JWT_REFRESH_TTL_MS=86400000





